@model IEnumerable<TiendasSiSitio.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>LISTA DE SERIES / PELÍCULAS</h1>
</center>
<p>

    <div class="form-group">

        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "TiendasSi")'">Nuevo Producto</button>
    </div>
</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        Nombre Producto
                    </th>
                    <th>
                        Detalle producto
                    </th>
                    <th>
                        Tipo Producto
                    </th>
                    <th>
                        Estado Producto
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreProducto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.detalleProducto)
                        </td>
                        <td>
                           

                            @if (item.idTipoProducto == 1)
                            {
                                <span>Película</span>
                            }
                            else if(item.idTipoProducto == 2)
                            {
                                <span>Serie</span>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estadoProducto)
                        </td>
                        <td>
                            | @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
